<div class="page">
  <app-form-component
    (setSize)="onSetSize($event)"
  ></app-form-component>  
  <div class="info">
    <div class="count">
      <button 
        *ngIf="!darkCount" 
        (click)="getCounts('dark')"
      >Узнать кол-во красных кирпичей</button>
      <p *ngIf="darkCount">Красных кирпичей: <span>{{ darkCount }}</span></p>
    </div>
    <div class="count">
      <button 
        *ngIf="!lightCount" 
        (click)="getCounts('light')"
      >Узнать кол-во белых кирпичей</button>
      <p *ngIf="lightCount">Белых кирпичей: <span>{{ lightCount }}</span></p>
    </div>
  </div>
  <div class="wall-container">
    <div class="wall" #wall>
      <div class="row" *ngFor="let bricks of rows; let i = index">
        <div 
          *ngFor="let brick of bricks; let j = index"
          class="brick"
          [ngClass]="{'dark': brick, 'light': !brick, 'start': i % 2 === 0, 'end': i % 2 !== 0}"
          [style.width.px]="equalsIdx(i, j) ? width / 2 : width"
          [style.height.px]="height"
        >
        </div>
      </div>
    </div>
  </div>
</div>